<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div ng-app="myApp" class="container" ng-controller="customersCtrl">
  <h3>Add a new Keg</h3>
    <form>
      <label for="keg">Keg Name</label>
      <input class="form-control" [(ngModel)]="kegName" type="text" name="keg">
      <label for="brand">Keg Brand</label>
      <input class="form-control" [(ngModel)]="kegBrand" type="text" name="brand">
      <label for="price">Keg Price</label>
      <input class="form-control" [(ngModel)]="kegPrice" type="text" name="price">
      <label for="content">Alcohol Content</label>
      <input class="form-control" [(ngModel)]="kegContent" type="text" name="content">
      <label for="pints">Pints Left</label>
      <input class="form-control" [(ngModel)]="kegPints" type="text" name="pints">
      <button type="button" class="btn btn-primary"(click)="submit()">Add</button>
    </form>
  <!-- <div>
    <h3>Select sort method</h3>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="1"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="2"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="3">
  </div> -->
  <h3>Kegs</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Alcohol Content (%)</th>
      <th>Pints Left</th>
    </tr>
    <tr *ngFor="let currentKeg of kegs">
      <td>{{ currentKeg.name }}</td>
      <td>{{ currentKeg.brand }}</td>
      <td>{{ currentKeg.price}}</td>
      <td>{{ currentKeg.alcoholContent}}</td>
      <td>{{ currentKeg.pintsLeft}}</td>
      <td><button class="btn btn-success"(click)="sold(currentKeg)">Sold!</button></td>
      <td><button class="btn btn-warning"(click)="editTask(currentKeg)">Edit!</button></td>
    </tr>
  </table>
  <div *ngIf="selectedKeg">
    <form>
      <label for="keg">Keg Name</label>
      <input class="form-control" [(ngModel)]="selectedKeg.name" type="text" name="keg">
      <label for="brand">Keg Brand</label>
      <input class="form-control" [(ngModel)]="selectedKeg.brand" type="text" name="brand">
      <label for="price">Keg Price</label>
      <input class="form-control" [(ngModel)]="selectedKeg.price" type="text" name="price">
      <label for="content">Alcohol Content</label>
      <input class="form-control" [(ngModel)]="selectedKeg.alcoholContent" type="text" name="content">
      <label for="pints">Pints Left</label>
      <input class="form-control" [(ngModel)]="selectedKeg.pintsLeft" type="text" name="pints">
      <button type="button" class="btn btn-warning" (click)="finishedEditing()">Done</button>
    </form>



</div>
</div>
