<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div ng-app="myApp" class="container" ng-controller="customersCtrl">
  <app-create-keg [childKegList]="masterKegList" (sendKeg)="addNewKeg($event)"></app-create-keg>
  <!-- <div>
    <h3>Select sort method</h3>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="1"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="2"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="3">
  </div> -->
  <app-list-kegs [childKegList]="masterKegList" (clickSender)="editKeg($event)" (clickSold)="sold($event)"></app-list-kegs>
  <app-edit-keg [childSelectedKeg]="selectedKeg" (clickEdit)="finishedEditing()"></app-edit-keg>

</div>
