<h3>Kegs</h3>
<select (change)="onChange($event.target.value)">
  <option value="allKeg" selected>All Beer</option>
  <option value="lowPints">Less than 10 remaining</option>
  <option value="lowPrice">Low Price</option>
</select>
<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Alcohol Content (%)</th>
    <th>Pints Left</th>
  </tr>
  <tr *ngFor="let currentKeg of childKegList | filter: desiredFilter" [class]="pintsLeft(currentKeg)" >
    <td>{{ currentKeg.name }}</td>
    <td>{{ currentKeg.brand }}</td>
    <td>{{ currentKeg.price}}</td>
    <td>{{ currentKeg.alcoholContent}}</td>
    <td>{{ currentKeg.pintsLeft}}</td>
    <td><button class="btn btn-primary"(click)="soldButtonClicked(currentKeg)">Sold!</button></td>
    <td><button class="btn btn-warning"(click)="editButtonClicked(currentKeg)">Edit!</button></td>
  </tr>
</table>
